<script type="module">
import { Octokit } from "https://esm.sh/@octokit/rest";
const octokit = new Octokit({ auth: 'github_pat_{{site.token}}'});

const owner = "{{site.owner}}";
const repo = "{{site.blog_repo}}";
const issueNumber = {{page.issue}};

function extractComment(comments)
{

  for (const [key, value] of Object.entries(comments))
  {
    var cur = JSON.parse(value.body);
    cur['date'] = value.created_at;
    cur['id'] = value.id;
    createCommentDiv(cur);
  }

}

function createCommentDiv(data)
{
    var commentsDiv = document.getElementById("issue-comments");

    if (document.getElementById(data.id))
      return;

    var commentDiv = document.createElement("div");
    commentDiv.classList.add("comment");

    commentDiv.setAttribute("id", data.id);
    var nameHeader = document.createElement("h3");
    nameHeader.textContent = data.name + " ";

    var dateElement = document.createElement("time");
    dateElement.classList.add("post-meta", "dt-published");
    dateElement.setAttribute("datetime", "{{ page.date | date_to_xmlschema }}");
    dateElement.setAttribute("itemprop", "datePublished");
    var date = new Date(data.date);
    var dateFormat = date.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'}) + " - " + date.toLocaleDateString();
    dateElement.textContent = dateFormat;

    var commentParagraph = document.createElement("p");
    var content = data.message;
    var strippedContent = content.replace(/<[^>]*>/g, ''); // Strip HTML tags
    commentParagraph.textContent = strippedContent;

    commentDiv.appendChild(nameHeader);
    commentDiv.appendChild(dateElement);
    commentDiv.appendChild(commentParagraph);

    commentsDiv.appendChild(commentDiv);
}

function readIssueComments() {
  octokit.request('GET /repos/{owner}/{repo}/issues/{issue_number}/comments', {
    owner,
    repo,
    issue_number: issueNumber
  }).then(response => {extractComment(response.data);})
  .catch(error => {
    console.error('Error fetching comments:', error);
  });
}

window.readIssueComments = readIssueComments;
window.addEventListener('DOMContentLoaded', readIssueComments, false);

</script>
