<script type="module">
import { Octokit } from "https://esm.sh/@octokit/rest";
const octokit = new Octokit({ auth: 'github_pat_{{site.token}}'});

const owner = "{{site.owner}}";
const repo = "{{site.blog_repo}}";
const issueNumber = {{page.issue}};

function createIssueComment(data) {

 var msg = {};

 for (const [key, value] of data.entries())
  msg[key] = value;

  octokit.request('POST /repos/{owner}/{repo}/issues/{issue_number}/comments', {
    owner,
    repo,
    issue_number: issueNumber,
    body: JSON.stringify(msg)
  }).then(response => {

{% if page.title == 'Contact' %}
    alert('Message sent!');
{% else %}
    alert('Comment added successfully!');
    readIssueComments();
{% endif %}

  }).catch(error => {
    alert('Error adding comment');
  });
}

window.createIssueComment = createIssueComment;

</script>


<form id="commentForm" action="" class="comment-form">
  <input id="honeypot" name="honeypot" type="text" /> 

<input
      class="comment-name"
      name="name"
      type="text"
      placeholder="Name"
      required
    />

{% if page.layout == 'journal' %}

{% elsif page.title == 'Contact' %}
   <input
      class="comment-name"
      name="email"
      type="email"
      placeholder="Email"
      required
    />
{% else %}

   <input
      class="comment-name"
      name="email"
      type="email"
      placeholder="Email(optional)"
    />

{% endif %}

  <textarea
    class="comment-message"
    name="message"
    id="comment-message"
    placeholder="Comment (markdown accepted)"
    required
  ></textarea>
    
  <button class="comment-submit" >
    SUBMIT
  </button>
</form>

<script>
  var simplemde = new SimpleMDE({
    element: document.getElementById("comment-message"),
    forceSync: true,
    spellChecker: false,
    status: false,
    placeholder: "Comment (markdown supported)",
  });


let commentForm = document.getElementById("commentForm");

commentForm.addEventListener("submit", (e) => {
  e.preventDefault();

        var form = e.target;
        var formData = new FormData(form);

        var honeypot = formData.get('honeypot');
        if (honeypot)
          return;

        formData.delete("honeypot"); 
        createIssueComment(formData);
});

</script>
