<script src="https://cdn.jsdelivr.net/npm/showdown/dist/showdown.min.js"></script>
<script type="module">
import { Octokit } from "https://esm.sh/@octokit/rest";
const octokit = new Octokit({ auth: 'github_pat_{{site.token}}'});

const owner = "{{site.owner}}";
const repo = "{{site.blog_repo}}";
const issueNumber = {{page.issue}};

function extractComment(comments)
{
  for (const [key, value] of Object.entries(comments))
  {
    var cur = JSON.parse(value.body);
    cur['date'] = value.created_at;
    cur['id'] = value.id;
    createCommentDiv(cur);
  }
}

function extractUpvotes(data)
{
   if (data.hasOwnProperty('upvotes'))
      return data.upvotes;
   return 0;
}

function convertMarkdownToHtml(content) {
  var converter = new showdown.Converter();
  return converter.makeHtml(content);
}


function createCommentDiv(data)
{
    var commentsDiv = document.getElementById("issue-comments");

    const reqFields = ["name", "date", "message", "id"];

    for (var v of reqFields)
     if (data.hasOwnProperty(v))
        continue;
      else
        return;

    if (document.getElementById(data.id))
      return;

    var commentDiv = document.createElement("div");
    commentDiv.classList.add("comment");

    commentDiv.setAttribute("id", data.id);
    var nameHeader = document.createElement("h3");
    nameHeader.textContent = data.name + " ";

    var dateElement = document.createElement("time");
    dateElement.classList.add("post-meta", "dt-published");
    var date = new Date(data.date);
    const options = {month: 'long', day: 'numeric', year:'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit'};
    var dateFormat = date.toLocaleDateString(undefined, options);
    dateElement.textContent = dateFormat;

    var commentParagraph = document.createElement("p");
    commentParagraph.innerHTML = convertMarkdownToHtml(data.message);

    commentDiv.appendChild(nameHeader);
    commentDiv.appendChild(dateElement);
    commentDiv.appendChild(commentParagraph);

    commentsDiv.appendChild(commentDiv);
}

function readIssueComments() {
  octokit.request('GET /repos/{owner}/{repo}/issues/{issue_number}/comments', {
    owner,
    repo,
    issue_number: issueNumber
  }).then(response => {extractComment(response.data);})
  .catch(error => {
    console.error('Error fetching comments:', error);
  });
}

function readIssueDescription() {
  octokit.request('GET /repos/{owner}/{repo}/issues/{issue_number}', {
    owner,
    repo,
    issue_number: issueNumber
  }).then(response => { let e = extractUpvotes(response.data.body); console.log(e);})
  .catch(error => {
    console.error('Error fetching issue:', error);
  });
}

window.readIssueComments = readIssueComments;
window.readIssueDescription = readIssueDescription;
window.addEventListener('DOMContentLoaded', readIssueComments, false);

</script>
